xcode/UISpec/UISpec.xcodeproj/*.mode1v3
xcode/UISpec/UISpec.xcodeproj/*.pbxuser
xcode/UISpec/build/*
xcode/UISpecDemo/UISpecDemo.xcodeproj/*.mode1v3
xcode/UISpecDemo/UISpecDemo.xcodeproj/*.pbxuser
xcode/UISpecDemo/build/*